<table summary="news items">
  <% @newsitems.each do |news_item| %>
    <tr class="<%= news_item_class(news_item) %>">
    
      <td>
        <%= link_to h(news_item.headline),
              :action => 'show', :id => news_item.id %>
      </td>
	  
      <% restrict_to :edit do -%>
        <td rowspan="2">
          <%= button_to 'Destroy', { :action => 'destroy', :id => news_item, :listing => params[:id] },
              :confirm => 'Are you sure you want to destroy this news item?',
              :method => :post %>
        </td>
      <% end -%>
      
    </tr>
	
	<tr class="<%= news_item_class(news_item) %>">
	  <td class="goes-live-date">
	  	posted on <%= news_item.goes_live_at.to_s(:news_posted) %>
	  </td>
	</tr>
  <% end %>
</table>

