<h1>
  <%= h(@newsitem.headline) %>
  <% if current_user -%>
      <%= link_to "edit...", edit_newsitem_path(@newsitem), { :class => "more" } %>
  <% end -%>
</h1>

<div id="news-item-content">
  <%= textilize @newsitem.content %>
</div>

<p class="more">
  <%= link_to "Current News", newsitems_path %>
  |
  <%= link_to "News Archive", newsitems_path(:year => "all") %>
</p>
