<li id="event_<%= event.id %>">
  <strong><%= event.descriptor.capitalize %> <%= timing %>!</strong>
  <span><%= event.title %></span>
  <a class="more" href="/events#event-<%= event.id %>">more...</a>
</li>
