<h1>Master Administration</h1>

<div id="administration">
  <h2>News and Events</h2>

  <img src="/images/newspaper-icon.png" />
  <ul id="news_administration">
    <li><%= link_to 'List and edit', :controller => 'news', :action => 'list' %></li>
    <li><%= link_to 'Create', :controller => 'news', :action => 'new' %></li>
  </ul>

  <h2>Webpages and Other Documents</h2>

  <img src="/images/page-icon.png" />
  <ul id="content_administration">
    <li><%= link_to 'List', pages_path %></li>
    <li><%= link_to 'Create', new_page_path %></li>
  </ul>

  <h2>Image Album</h2>
	
  <img src="/images/images-icon.png" />
  <ul id="album_administration">
	<li><%= link_to 'List images', images_path %></li>
	<li><%= link_to 'Add image', new_image_path %></li>
  </ul>
	
  <h2>Courses</h2>
	
  <ul id="course_administration">
	<li><%= link_to 'List', :controller => 'curriculum', :action => 'list_courses' %></li>
	<li><%= link_to 'Create', :controller => 'curriculum', :action => 'new_course' %></li>
  </ul>
</div>