<div id="home_splash">
  <img src="<%= @splash_image.url %>" alt="homepage splash image"/>

  <div id="splash-description">
    <div class="gutter">
      <p><%= johnny_textilize_lite(@splash_image.caption || "") %></p>
    </div>
  </div>
</div>

<div class="columns">
  <div id="home_page" class="columns-1">
    <%= render :partial => 'shared/subpage', :locals => { :page => @content } %>
  </div>

  <div id="news" class="columns-2">
    <h1>News</h1>
    <ul>
      <%= render(:partial => "event", :collection => @todays_events, :locals => { :timing => "today" }) %>
      <%= render(:partial => "event", :collection => @this_weeks_events, :locals => { :timing => "coming up" }) %>
      <%= render(:partial => "newsitem", :collection => @newsitems) %>
      <li>
        <%= link_to "other news...", newsitems_path, { :class => "more" } %>
      </li>
    </ul>
  </div>

</div>

<% javascript_tag do -%>
    <%= render :partial => "homepage_splash.js" %>
<% end -%>
