<div id="home_splash">
  <%= render :partial => 'shared/headerlesspage', :locals => { :page => @splash } %>
</div>

<div class="columns">
  <div id="home_page" class="columns-1">
    <%= render :partial => 'shared/page', :object => @content %>
  </div>
  
  <div id="news" class="columns-2">
    <h1>News</h1>
    <ul>
      <%= render(:partial => "event", :collection => @todays_events, :locals => { :timing => "today" }) %>
      <%= render(:partial => "event", :collection => @this_weeks_events, :locals => { :timing => "this week" }) %>
      <%= render(:partial => "news_item" , :collection => @news_items) %>
      <li>
        <%= link_to "other news...", { :controller => "news" }, { :class => "more" } %>
      </li>
    </ul>
  </div>
  
</div>
