<ul>
  <li>A <strong>colloquium</strong> is measured in hours (possibly fractional) and the full date and time must be specified.</li>
  <li>A <strong>conference</strong> is measured in whole days and only the full date (not the time) is used.</li>
</ul>

<% form_for @event do |form| -%>
  <table border="0" summary="event form">
    <tr>
      <td><%= form.label :kind, "Type of event" %></td>
      <td><%= form.select :kind, ["Colloquium", "Conference"] %></td>
    </tr>
    <tr>
      <td><%= form.label :title %></td>
      <td><%= form.text_field :title %></td>
    </tr>
    <tr>
      <td><%= form.label :subtitle, "Subtitle (optional)" %></td>
      <td><%= form.text_field :subtitle %></td>
    </tr>
    <tr>
      <td><%= form.label :presenter %></td>
      <td><%= form.text_field :presenter %></td>
    </tr>
    <tr>
      <td><%= form.label :location %></td>
      <td><%= form.text_field :location %></td>
    </tr>
    <tr>
      <td><%= form.label :description, "Description/abstract" %></td>
      <td><%= form.text_area :description, :cols => 60, :rows => 10 %></td>
    </tr>
    <tr>
      <td><%= form.label :start, "Starting date and time" %></td>
      <td><%= form.datetime_select :start %></td>
    </tr>
    <tr>
      <td><%= form.label :length %></td>
      <td><%= form.text_field :length, :size => 3 %> <span id="scale"><%= @event.scale %></span></td>
    </tr>
    <tr>
      <td></td>
      <td><%= form.submit(@event.new_record? ? "Create" : "Update") %></td>
    </tr>
  </table>
<% end %>
