<h1>
  <%= @title %>
</h1>

<% @events.each do |event| %>
    <div class="event" id="event-<%= event.id %>">
      <h2>
        <%= format_titles event %>
        <span class="more"><%= link_to "more...", event_path(event) %></span>
      </h2>

		<%= event_details(event) %>
		</div>
<% end %>
