<h1><%= @title %></h1>

<p><%= link_to "Event archive", events_path(:year => "all") %></p>

<% @events.each do |event| -%>
    <div id="event-<%= event.id %>">
      <h2>
        <%= format_titles event %>
        <span class="more"><%= link_to "more...", event_path(event) %></span>
      </h2>

      <p>
        <% if event.presenter -%>
            <span class="presenter"><%= h event.presenter %></span><br/>
        <% end -%>
        <% if event.location -%>
        <span class="location"><%= h event.location %></span><br/>
        <% end -%>
        <span class="when"><%= event.timing %></span><br/>
      </p>
    </div>
<% end -%>
