<h1>Upcoming Events</h1>

<p><%= link_to "Event archive", events_path(:year => "all") %></p> 

<% @events.each do |event| -%>
    <div id="event-<%= event.id %>">
      <h2>
        <%= format_titles event %>
        <% if current_user -%>
            <span class="more"><%= link_to "edit...", edit_event_path(event) %></span>
        <% end -%>
      </h2>

      <p>
        <span class="when"><%= event.timing %></span>
      </p>
    </div>
<% end -%>
