<div id="title">
  <h1>
    <%= format_titles @event %>
    <% if current_user -%>
        <span class="more"><%= link_to "edit...", edit_event_path(@event) %></span>
    <% end -%>
  </h1>
</div>

<p>
  <% if @event.presenter -%>
      <span class="presenter"><%= textilize_without_paragraph @event.presenter %></span><br />
  <% end -%>
  <% if @event.location -%>
      <span class="location"><%=h @event.location %></span><br />
  <% end -%>
</p>

<div id="event-description">
  <%= textilize @event.description %>
</div>
