<div id="title">
  <h1>
    <%= format_titles @event %>
    <% if current_user -%>
        <span class="more"><%= link_to "edit...", edit_event_path(@event) %></span>
    <% end -%>
  </h1>
</div>

<% unless @event.presenter.blank? && @event.location.blank? -%>
    <p>
      <% unless @event.presenter.blank? -%>
          <span class="presenter"><%= johnny_textilize_lite(@event.presenter) %></span><br/>
      <% end -%>
      <span class="time"><%= @event.start.to_s(@event.kind.downcase.to_sym) %></span><br />
      <% unless @event.location.blank? -%>
          <span class="location"><%= h @event.location %></span><br/>
      <% end -%>
    </p>
<% end -%>

<div id="event-description">
  <%= johnny_textilize @event.description %>
</div>
