<h1>All Pages</h1>

<% if flash[:error] -%>
  <div id="error"><%= h(flash[:error]) %></div>
<% end -%>

<table summary="page list">
  <% if current_user -%>
    <tr>
      <th>Identifier</th>
      <th>Title (click to view/edit)</th>
      <th> </th>
    </tr>   
  <% end -%>
  <% @pages.each do |page| -%>
    <tr id="page_<%= page.id %>">
      <% if current_user -%>
        <td>
          <%= h(page.identifier) %>
        </td>   
      <% end -%>

      <td>
        <%= link_to((page.subpage? ? "SUBPAGE (NO TITLE)" : h(page.title)), :action => 'view', :id => page.identifier) %>
      </td>

      <% if current_user -%>
        <td>
          <%= button_to 'Destroy', { :action => 'destroy', :id => page },
              :confirm => 'Are you sure you want to destroy this page?',
              :method => :post %>
        </td>   
      <% end -%>

    </tr>
  <% end -%>
</table>

<% restrict_to :edit do -%>
  <p><%= link_to 'Create a new page', :action => 'create' %></p>
<% end -%>
