<h1>
  <% if current_user -%>
    <input type="button" id="edit_headline" value="edit" />
    <%= in_place_editor_field :news_item, "headline", {},
      { :external_control => 'edit_headline' }
    %>
  <% else -%>
    <%= h(@news_item.headline) %>
  <% end -%>
</h1>

<% if current_user -%>
  <div id="news-item-teaser">
    <input type="button" id="edit_teaser" value="edit" />
    <%= in_place_editor_field :news_item, "teaser", {}, { :external_control => 'edit_teaser' } %>
  </div>
<% end -%>

<div id="news-item-content">
  <%= textilize @news_item.content %>
</div>

<% restrict_to :edit do -%>

  <div class="content-editor" id="content-editor">
    <h2>Content Editor</h2>
  
    <%= render :partial => 'shared/markupreference' %>
  
    <p>
      <% remote_form_for(:news_item,
        :url => { :action => 'update_news_item_content', :id => @news_item.id } 
      ) do |form| -%>
        <%= form.text_area :content, :rows => 10, :cols => 65 %>
        <%= submit_tag "Update content", :class => "submit" %>
      <% end -%>
    </p>
  </div>

<% end -%>

<% if current_user -%>
  <p id="goes_live_at"><strong>Goes live:</strong> <%= in_place_editor_field :news_item, "goes_live_at_formatted" %></p>
  <p id="expires_at"><strong>Expires:</strong> <%= in_place_editor_field :news_item, "expires_at_formatted" %></p>
<% end -%>
