<% if @page.subpage? -%>
    <p>This is a subpage, and subpages do not have titles.</p>
<% else -%>
    <h1>
      <%= in_place_editor("title") %>
      <span class="instruction">click to edit</span>
    </h1>
<% end -%>


<p class="identifier">
  <strong>identifier:</strong> <%= in_place_editor("identifier") %>
</p>

<p class="view-edit">
  <%= link_to "show page", page_path(@page) %>
</p>

<div id="rendered_content">
  <%= johnny_textilize @page.content %>
</div>

<div class="content-editor" id="content-editor">
  <%= render :partial => 'shared/markupreference' %>
  <h2>Content Editor</h2>

  <p>
    <% form_for @page do |form| -%>
        <%= form.text_area :content, :rows => 20, :cols => 65 %>
        <%= submit_tag "Update content", :class => "submit" %>
    <% end %>
  </p>
</div>

<%= content_editor %>
