<% if !@page.new_record? && !@page.valid? -%>
  <div id="error">
    <%= error_messages_for(:page) %>
  </div>
<% end -%>

<h1>Create Page</h1>

<% form_for @page do |form| -%>
  <table summary="page data">
    <tr>
      <td> <%= form.label :identifier %> </td>
      <td> <%= form.text_field :identifier, :size => 10 %> </td>
    </tr>
    <tr>
      <td> <%= form.label :title %> </td>
      <td> <%= form.text_field :title, :size => 30 %> </td>
    </tr>
    <tr>
      <td> <%= form.label :content %> </td>
      <td> <%= form.text_area :content, :rows => 15, :columns => 40 %> </td>
    </tr>
    <tr>
      <td> </td>
      <td> <%= form.submit "Create page", :class => "submit" %> </td>
    </tr>
  </table>
<% end -%>
