<tr>
  <td><%= form.label :degree_type %></td>
  <td><%= form.text_field :degree_type %> (e.g., "B.A. in Mathematics")</td>
</tr>
<tr>
  <td><%= form.label :year %></td>
  <td><%= form.text_field :year, :size => 5 %></td>
</tr>
<tr>
  <td><%= form.label :institution %></td>
  <td><%= form.text_field :institution %></td>
</tr>
<tr>
  <td><%= form.label :url %></td>
  <td><%= form.text_field :url %> (link to institution)</td>
</tr>
<tr>
  <td></td>
  <td><%= form.check_box :_destroy %> <%= form.label :_destroy, "Delete degree" %></td>
</tr>
