<tr>
  
  <td>
    <% output_if user.image do |image| -%>
      <%= link_to(image_tag(image.url, :border => 0), person_path(user.username)) %>
    <% end -%>
  </td>
  
  <td>
    <div class="name">
      <h2><%= link_to h(user.full_name), person_path(user.username) %></h2>
      <% output_if user.job_title do |title| -%>
        <p <%= id_for(user, "job_title") %>><%= textilize_without_paragraph(title) %></p>
      <% end -%>
    </div>
    
    <div class="contact-information">
      <% output_if user.office_phone do |phone| -%>
        <p <%= id_for(user, "phone") %>><%= phone %></p>
      <% end -%>
      <% output_if user.office_location do |location| -%>
        <p <%= id_for(user, "location") %>><%= location %></p>
      <% end -%>
      <p <%= id_for(user, "email") %>><%= mail_to user.email_address, user.email_address %></p>
    </div>
    
    <% output_if user.subpage(:interests) do |page| -%>
      <p id="<%= user.username %>_interests">
        <strong>Interests:</strong>
        <%= textilize_without_paragraph page.content %>
      </p>
    <% end -%>
    
    <% output_if user.subpage(:status) do |page| -%>
      <p id="<%= user.username %>_status">
        <%= textilize_without_paragraph page.content %>
      </p>
    <% end -%>
  </td>
  
</tr>
