<tr>
  
  <td>
    <% if user.image %>
      <%= link_to(image_tag(user.image.url, :border => 0), person_path(user)) %>
    <% end %>
  </td>
  
  <td>
    <div class="name">
      <h2><%= link_to h(user.full_name), person_path(user) %></h2>
      <% if user.job_title %>
        <p <%= id_for(user, "job_title") %>><%= johnny_textilize_lite(user.job_title) %></p>
      <% end %>
    </div>
    
    <div class="contact-information">
      <% if user.office_phone %>
        <p <%= id_for(user, "phone") %>><%= user.office_phone %></p>
      <% end %>
      <% if user.office_location %>
        <p <%= id_for(user, "location") %>><%= user.office_location %></p>
      <% end %>
      <p <%= id_for(user, "email") %>><%= mail_to user.email_address, user.email_address %></p>
    </div>
    
    <% if user.subpage(:interests) %>
      <p id="<%= user.username %>_interests">
        <strong>Interests:</strong>
        <%= johnny_textilize_lite user.subpage(:interests).content %>
      </p>
    <% end %>
    
    <% if user.subpage(:status) %>
      <p id="<%= user.username %>_status">
        <%= johnny_textilize_lite user.subpage(:status).content %>
      </p>
    <% end %>
  </td>

</tr>
