<h1>Edit User Information</h1>

<% form_for @user do |form| -%>
    <%= form.error_messages %>

    <table>
      <tr>
        <td></td>
        <td><%= link_to "change password...", editpassword_user_path(@user), :class => "more" %></td>
      </tr>
      <tr>
        <td><%= form.label :first_name %></td>
        <td><%= form.text_field :first_name %></td>
      </tr>
      <tr>
        <td><%= form.label :last_name %></td>
        <td><%= form.text_field :last_name %></td>
      </tr>
      <tr>
        <td><%= form.label :role %></td>
        <td><%= form.collection_select :role_id, Role.all, :id, :name %></td>
      </tr>
      <tr>
        <td><%= form.label :job_title %></td>
        <td><%= form.text_field :job_title %></td>
      </tr>
      <tr>
        <td><%= form.label :email_address %></td>
        <td><%= form.text_field :email_address %></td>
      </tr>
      <tr>
        <td><%= form.label :office_phone %></td>
        <td><%= form.text_field :office_phone %></td>
      </tr>
      <tr>
        <td><%= form.label :office_location %></td>
        <td><%= form.text_field :office_location %></td>
      </tr>
      <% form.fields_for :degrees do |degree_form| %>
          <tr>
            <td colspan="2">&nbsp;</td>
          </tr>
          <%= render "degree_fields", :form => degree_form %>
      <% end %>
      <tr>
      <tr>
        <td></td>
        <td><%= link_to_add_fields "Add degree", form, :degrees %></td>
      </tr>
    </table>

    <p><%= form.submit %></p>
<% end -%>


<h2>Special Content</h2>

<ul>
  <li><strong>interests</strong>: a comma-separated list of research and professional
    interests...
    <ul>
      <%= render :partial => 'edit_page_links', :locals => { :page_type => "interests" } %>
    </ul>
  </li>

  <li><strong>profile</strong>: one or two paragraphs of professional biography...
    <ul>
      <%= render :partial => 'edit_page_links', :locals => { :page_type => "profile" } %>
    </ul>
  </li>

  <li><strong>status</strong>: chair of the department? dean of computer security? use a
    complete sentence or two...
    <ul>
      <%= render :partial => 'edit_page_links', :locals => { :page_type => "status" } %>
    </ul>
  </li>

  <li><strong>images</strong>: <%= link_to "tag images", images_path %> with these tags...
    <ul>
      <li><code><%= @user.username %>_headshot</code> can be used once, must be 150x200, and will be seen on
        the <%= link_to "Faculty &amp; Staff", people_path %> page
      </li>
      <li><code><%= @user.username %></code> can be used multiple times, must be 265x200 or 200x265, and will be see
        on <%= link_to "#{@user.username}'s page", person_path(@user) %> randomly
      </li>
    </ul>
  </li>
</ul>
