<h1>Edit User Information</h1>

<% form_for @user do |form| -%>
    <table>
      <tr>
        <td><%= form.label :first_name %></td>
        <td><%= form.text_field :first_name %></td>
      </tr>
      <tr>
        <td><%= form.label :last_name %></td>
        <td><%= form.text_field :last_name %></td>
      </tr>
      <tr>
        <td><%= form.label :role %></td>
        <td><%= form.collection_select :role_id, Role.all, :id, :name %></td>
      </tr>
      <tr>
        <td><%= form.label :job_title %></td>
        <td><%= form.text_field :job_title %></td>
      </tr>
      <tr>
        <td><%= form.label :email_address %></td>
        <td><%= form.text_field :email_address %></td>
      </tr>
      <tr>
        <td><%= form.label :office_phone %></td>
        <td><%= form.text_field :office_phone %></td>
      </tr>
      <tr>
        <td><%= form.label :office_location %></td>
        <td><%= form.text_field :office_location %></td>
      </tr>
      <% form.fields_for :degrees do |degree_form| %>
          <tr>
            <td colspan="2">&nbsp;</td>
          </tr>
          <%= render "degree_fields", :form => degree_form %>
      <% end %>
      <tr>
      <tr>
        <td></td>
        <td><%= link_to_add_fields "Add degree", form, :degrees %></td>
      </tr>
    </table>

    <p><%= form.submit %></p>
<% end -%>


<h2>Special Content</h2>


<h3>Interests</h3>

<p><em>a comma-separated list of research and professional interests...</em></p>

<ul>
  <%= render :partial => 'edit_page_links', :locals => { :page_type => "interests" } %>
</ul>


<h3>Profile</h3>

<p><em>two paragraphs of professional biography...</em></p>

<ul>
  <%= render :partial => 'edit_page_links', :locals => { :page_type => "profile" } %>
</ul>


<h3>Status</h3>

<p><em>chair of the department? dean of computer security? Use a complete sentence or two...</em></p>

<ul>
  <%= render :partial => 'edit_page_links', :locals => { :page_type => "status" } %>
</ul>


<h3>Images</h3>
