<h1>Edit User Information</h1>

<% form_for :user, :url => person_path(@user), :html => { :method => :put } do |form| -%>
    <table>
      <tr>
        <td><%= form.label :first_name %></td>
        <td><%= form.text_field :first_name %></td>
      </tr>
      <tr>
        <td><%= form.label :last_name %></td>
        <td><%= form.text_field :last_name %></td>
      </tr>
      <tr>
        <td><%= form.label :job_title %></td>
        <td><%= form.text_field :job_title %></td>
      </tr>
      <tr>
        <td><%= form.label :email_address %></td>
        <td><%= form.text_field :email_address %></td>
      </tr>
      <tr>
        <td><%= form.label :office_phone %></td>
        <td><%= form.text_field :office_phone %></td>
      </tr>
      <tr>
        <td><%= form.label :office_location %></td>
        <td><%= form.text_field :office_location %></td>
      </tr>
      <tr>
        <td></td>
        <td><%= form.submit %></td>
      </tr>
    </table>
<% end -%>

<h2>Special Content</h2>

<ul>
  <li>
    <%= link_to "edit interests", edit_page_path(@user.page_identifier("interests")) %>
    (research and professional)
  </li>
  <li>
    <%= link_to "edit status", edit_page_path(@user.page_identifier("status")) %>
    (chair of the department? dean of computer security? Use a complete sentence or two.)
  </li>
  <li>
    <%= link_to "edit profile", edit_page_path(@user.page_identifier("profile")) %>
    (two paragraphs of professional biography)
  </li>
</ul>
