<div id="full_name_header">
  <h1>
    <%= h(@user.full_name) %>
    <% if current_user %>
        <%= link_to "edit...", edit_person_path(@user), { :class => "more" } %>
    <% end %>
  </h1>
</div>

<%= render2 'pages/image' %>
<%= render2 'job_title' %>
<%= render2 'contact_information' %>
<%= render2 'education' %>
<%= render2 'interests' %>
<%= render2 'profile' %>
