<div id="full_name_header">
  <h1>
    <%= h(@user.full_name) %>
    <% if current_user -%>
        <%= link_to "edit...", edit_person_path(@user), { :class => "more" } %>
    <% end -%>
  </h1>
</div>

<%= render_rec 'pages/image' %>
<%= render_rec 'job_title' %>
<%= render_rec 'contact_information' %>
<%= render_rec 'education' %>
<%= render_rec 'interests' %>
<%= render_rec 'profile' %>
