<div id="full_name_header">
  <h1>
    <%= h(@user.full_name) %>
    <% if current_user -%>
        <%= link_to "edit...", { :controller => "personnel", :action => "edit", :id => @user.id }, { :class => "more" } %>
    <% end -%>
  </h1>
</div>

<%= render 'pages/image' %>

<%= render 'job_title' %>

<%= render 'contact_information' %>

<%= render 'education' %>

<%= render 'interests' %>

<%= render 'profile' %>
