<div id="full_name_header">
  <h1>
    <%= h(@user.full_name) %>
    <% if current_user -%>
        <%= link_to "edit...", { :controller => "personnel", :action => "edit", :id => @user.id }, { :class => "more" } %>
    <% end -%>
  </h1>
</div>

<%= render :partial => 'job_title' %>

<%= render :partial => 'pages/image' %>

<%= render :partial => 'contact_information' %>

<%= render :partial => 'education' %>

<%= render :partial => 'interests' %>

<%= render :partial => 'status' %>

<%= render :partial => 'profile' %>
