<% form_for(@course) do |form| %>
  <table summary="course data">
    <tr>
      <td> <%= form.label :department, "Label (CS, IS, etc.):" %> </td>
      <td> <%= form.text_field :department, :size => 5 %> </td>
    </tr>
    <tr>
      <td> <%= form.label :number, "Course number:" %> </td>
      <td> <%= form.text_field :number, :size => 5 %> </td>
    </tr>
    <tr>
      <td> <%= form.label :title, "Title:" %> </td>
      <td> <%= form.text_field :title, :size => 40 %> </td>
    </tr>
    <tr>
      <td> <%= form.label :credits, "Credits:" %> </td>
      <td> <%= form.text_field :credits, :size => 5 %> </td>
    </tr>
    <tr>
      <td> <%= form.label :description, "Description:" %> </td>
      <td> <%= form.text_area :description, :rows => 5, :columns => 40 %> </td>
    </tr>
    <tr>
      <td> </td>
      <td> <%= form.submit(@course.new_record? ? "Create" : "Update", :class => "submit") %> </td>
    </tr>
  </table>
<% end %>
