<h1>Course Details</h1>

<h2><%= h(@course.department) %> <%= h(@course.number) %>: <%= h(@course.title) %></h2>

<p><%= @course.credits %> credits</p>

<p><%= h(@course.description) %></p>

<p><%= link_to 'Back to course listing', :action => 'list_courses' %></p>
