<h3>
  <%= link_to image.url, image.url, :class => "popup" %>
  <%= link_to "edit...", edit_picture_path(image), :class => "more" %>
  <%= link_to "delete", picture_path(image), :method => :delete, :confirm => "Are you sure?", :class => "more" %>
</h3>

<p><em>
  <span class="dimension"><%= image.width %>x<%= image.height %></span>,
  <span class="usability"><%= image.usability %></span>
</em></p>

<p><strong>tags:</strong> <span class="tags"><%= image.tags_string %></span></p>

<p><strong>caption:</strong> <span class="caption"><%= johnny_textilize_lite(image.caption) %></span></p>
