<h1>List of Images</h1>

<p>
  <%= link_to "Add an image", new_image_path %> |
  <%= link_to "Refresh dimensions", refresh_images_path %>
</p>

<div id="image-list">
  <% @images.each do |image| %>
      <%= render2 :partial => 'image', :object => image %>
  <% end %>
</div>

<%= javascript_tag do %>
    <%= render2 "image_popups.js" %>
<% end %>

<p>
  <%= link_to "Add an image", new_image_path %> |
  <%= link_to "Refresh dimensions", refresh_images_path %>
</p>
