<!DOCTYPE html
        PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">

<head>
  <meta name="keywords" content="calvin college, computer science, christian, academics"/>
  <meta name="description"
        content="Offering programs in Computer Science, Information Systems, digital media, and computational science from a Reformed, Christian worldview."/>
  <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1"/>

  <%= javascript_include_tag :defaults %>
  <%= stylesheet_link_tag "global" %>
  <%= stylesheet_link_tag "style", :media => "screen" %>
  <%= stylesheet_link_tag "style-print", :media => "print" %>
  <%= stylesheet_link_tag "department", :media => "all" %>

  <!-- jQuery -->
  <script language="JavaScript" type="text/javascript" src="http://www.calvin.edu/includes/scripts/jquery/latest.js?ver=1.3.2"></script>

  <!-- jQuery Search Box Toggle -->
  <script language="JavaScript" type="text/javascript">
  $(document).ready(function(){
     $('#search-alt').hide(); // Hide even though it's already hidden
     $('a.search-items').click(function() {
        $('#search-alt').slideToggle("fast"); // First click should toggle to 'show'
        $(this).toggleClass("active"); return false; // Apply "active" class to anchor when items are shown
     });
  });
  </script>

  <!-- jQuery Smooth Page Scroll  -->
  <script type="text/javascript" src="http://www.calvin.edu/includes/scripts/jquery/smoothPageScroll/smoothPageScroll.js"></script>

  <!-- Get jQuery Superfish Menu Plug-in -->
  <script type="text/javascript" src="http://www.calvin.edu/includes/scripts/jquery/superfish/hoverIntent.js"></script>
  <script type="text/javascript" src="http://www.calvin.edu/includes/scripts/jquery/superfish/superfish.js"></script>

  <link href="http://www.calvin.edu/includes/templates/9/menu-tools.css" rel="stylesheet" type="text/css" media="screen" />

  <!-- Superfish Menu Plug-in -->
  <script type="text/javascript">
      $(document).ready(function() {
          $('ul.global-menu').superfish();
      });
  </script>
  
  <%= title %>
</head>

<body>

<div id="accessibility">
  <a href="#navbar">Skip to Navigation</a>
  |
  <a href="#content">Skip to Content</a>
</div>

<div id="header">
  <div class="gutter">
    <span id="nameplate-calvin"><a href="http://www.calvin.edu/">Calvin College</a></span>

    <div id="site-tools">

      <ul class="global-menu">
        <li class="about"><a href="http://www.calvin.edu/about/">About</a>
          <ul>
            <li class="home"><a href="http://www.calvin.edu/about/">Overview</a></li>
            <li class="identity">
              <a href="http://www.calvin.edu/about/identity.htm" title="Calvin College Summary Statement of Identity and Mission">Our
                Identity</a></li>
            <li class="mission"><a href="http://www.calvin.edu/about/mission.htm" title="The Mission of Calvin College">Our Mission</a></li>
            <li class="calling">
              <a href="http://www.calvin.edu/about/shalom.htm" title="Educating for Shalom: Our Calling as a Christian College">Our
                Calling</a></li>

            <li class="distinctives"><a href="http://www.calvin.edu/about/distinctives/">Calvin Distinctives</a></li>
            <li class="history"><a href="http://www.calvin.edu/about/history.htm">History</a></li>
            <li class="john"><a href="http://www.calvin.edu/about/about_jc.htm">John Calvin</a></li>
            <li class="crcna"><a href="http://www.crcna.org" title="Christian Reformed Church">Church &raquo;</a></li>
            <li class="contact"><a href="http://www.calvin.edu/about/contact.htm">Contact Us</a></li>
          </ul>

        </li>
        <li class="academics"><a href="http://www.calvin.edu/academics/">Academics</a>
          <ul>
            <li class="overview"><a href="http://www.calvin.edu/academics/">Overview</a></li>
            <li class="majors"><a href="http://www.calvin.edu/academics/majors-minors/index.html">Majors and Minors</a></li>
            <li class="reputation"><a href="http://www.calvin.edu/academics/reputation/index.html">Academic Reputation</a></li>
            <li class="core"><a href="http://www.calvin.edu/academics/core/index.html">Core Curriculum</a></li>

            <li class="opportunities"><a href="http://www.calvin.edu/academics/opportunities/index.html">Learning Opportunities</a></li>
            <li class="services"><a href="http://www.calvin.edu/academics/student-services/index.html">Student Services</a></li>
            <li class="institutes"><a href="http://www.calvin.edu/academics/centers-institutes/index.html">Centers and Institutes</a></li>
            <li class="catalog"><a href="http://www.calvin.edu/admin/registrar/catalog/">College Catalog &raquo;</a>
            </li>
            <li class="library"><a href="http://library.calvin.edu/">Hekman Library &raquo;</a></li>
            <li class="home"><a href="http://www.calvinseminary.edu/">Calvin Theological Seminary &raquo;</a></li>

          </ul>
        </li>
        <li class="admissions"><a href="http://www.calvin.edu/admin/admissions/">Admissions</a>
          <ul>
            <li class="home"><a href="http://www.calvin.edu/admissions/">Overview</a></li>
            <li class="info">
              <a href="https://www.calvin.edu/cgi-bin/std_form.pl?f=admissions" title="Getting Started with Calvin">Request
                Information</a></li>
            <li class="visit"><a href="http://www.calvin.edu/admin/admissions/visit/">Visit</a></li>

            <li class="apply"><a href="http://www.calvin.edu/admin/admissions/apply/">Apply</a></li>
            <li class="finaid" title="Scholarships and Financial Aid"><a href="http://www.calvin.edu/admin/finaid/">Financial Aid &raquo;</a>
            </li>
            <li class="resources" title="Frequently Asked Questions"><a href="http://www.calvin.edu/admin/admissions/resources/FAQ/">FAQs</a>
            </li>
            <li class="profile"><a href="http://www.calvin.edu/admin/admissions/profile.htm">Admission Facts</a></li>
            <li class="contact"><a href="http://www.calvin.edu/admin/admissions/contact.htm">Contact Us</a></li>
          </ul>

        </li>
        <li class="community"><a href="http://www.calvin.edu/community/" title="The Calvin Community">Community</a>
          <ul>
            <li class="home"><a href="http://www.calvin.edu/community/">Overview</a></li>
            <li class="faith"><a href="http://www.calvin.edu/community/faith-worship.html">Faith &amp; Worship</a></li>
            <li class="stu-opps">
              <a href="http://www.calvin.edu/community/student-opportunities.html">Student Opportunities</a></li>

            <li class="housing"><a href="http://www.calvin.edu/community/housing-dining.html">Housing &amp; Dining</a>
            </li>
            <li class="sports"><a href="http://www.calvin.edu/community/sports.html">Sports &amp; Recreation</a></li>
            <li class="health"><a href="http://www.calvin.edu/community/health-fitness.html">Health &amp; Fitness</a>
            </li>
            <li class="news"><a href="http://www.calvin.edu/news/">News &amp; Stories &raquo;</a></li>

            <li class="events"><a href="http://www.calvin.edu/calendar/">Calendar of Events &raquo;</a></li>
          </ul>

        </li>
      </ul>
      <div id="search-container">
        <div id="search-box">
          <div class="gutter">
            <form method="get" action="http://search.calvin.edu/search" id="GoogleSearch" style="float:left;">

              <input type="text" name="q" id="query" size="25" maxlength="255" value="Search" onfocus="if(this.value=='Search'){this.value=''};" onblur="if(this.value==''){this.value='Search'};"/>
              <input type="submit" name="btnG" value=" " src="http://www.calvin.edu/images/icons/magnifier.png" class="search-button" title="Go"/>
              <input type="hidden" name="site" value="calvin"/>
              <input type="hidden" name="client" value="calvin"/>
              <input type="hidden" name="proxystylesheet" value="calvin"/>
              <input type="hidden" name="output" value="xml_no_dtd"/>
              <input name="sort" value="date:D:L:d1" type="hidden"/>
            </form>
          </div>

          <span><a href="http://www.calvin.edu/dept/" title="A-Z Index">A-Z</a> | <a href="http://www.calvin.edu/calendar/" title="Calendar">Calendar</a> | <a href="http://www.calvin.edu/map/" title="Maps and directions">Maps</a></span>
        </div>
      </div>
    </div>
  </div>
  <div id="department">
    <div class="gutter">
      <div id="nameplate-dept">
        <a href="http://cs.calvin.edu/">Computer Science &amp; Information Systems</a>
      </div>
    </div>
  </div>
</div>

<div id="wrapper">

  <div id="content">
    <div class="gutter">

      <%= yield :layout %>

      <% if current_user -%>
          <p class="logout">
            <%= render :partial => 'layouts/adminmenu' %>
          </p>
      <% end -%>

    </div>
  </div>

  <div id="sidebar">
    <div id="navbar" class="navigation">
      <%= render :partial => 'layouts/mainmenu' %>
    </div>
  </div>

  <%= render :partial => 'layouts/footer' %>

</div>

</body>
</html>

