<!DOCTYPE html
        PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">

<head>
  <meta name="keywords" content="calvin college, computer science, christian, academics"/>
  <meta name="description"
        content="Offering programs in Computer Science, Information Systems, digital media, and computational science from a Reformed, Christian worldview."/>
  <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1"/>

  <%= stylesheet_link_tag "global" %>
  <%= stylesheet_link_tag "style", :media => "screen" %>
  <%= stylesheet_link_tag "style-print", :media => "print" %>
  <%= stylesheet_link_tag "department", :media => "all" %>

  <%= render :partial => 'layouts/calvinjavascript' %>

  <%= title %>
</head>

<body>

<div id="accessibility">
  <a href="#navbar">Skip to Navigation</a>
  |
  <a href="#content">Skip to Content</a>
</div>

<%= render :partial => "layouts/header" %>

<div id="wrapper">

  <div id="content">
    <div class="gutter">

      <%= yield :layout %>

      <% if current_user -%>
          <p class="logout">
            <%= render :partial => 'layouts/adminmenu' %>
          </p>
      <% end -%>

    </div>
  </div>

  <div id="sidebar">
    <div id="navbar" class="navigation">
      <%= render :partial => 'layouts/mainmenu' %>
    </div>
  </div>

  <%= render :partial => 'layouts/footer' %>

</div>

</body>
</html>

